body {
  font-family: "Libre Baskerville" serif;
  width: 250px;
  color: #666;
  padding: 10px;
  margin: 0;
}

.title {
  margin: 0;
}

.subtitle {
  color: #aaa;
  margin-top: 3px;
}

a {
  text-decoration: none;
  color: #666;
}

textarea {
  width: 100%;
}

input[type="submit"] {
  float: right;
}
